@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color: rebeccapurple;
    color: white;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0.8rem;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

button.active {
    transform: translateX(-100px);
}

nav {
    background-color: rebeccapurple;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
}