@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
}