@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.carousel {
    height: 500px;
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}